<module xmlns="urn:jboss:module:1.0" name="es.arcadiaconsulting.graylog2">
  <resources>
    <resource-root path="jboss-logging-gelf-${project.version}.jar"/>
    <resource-root path="gson-2.1.jar"/>
  </resources>
  <dependencies>
    <module name="org.jboss.logging"/>
    <module name="org.jboss.logmanager"/>
    <module name="org.apache.commons.collections"/>
  </dependencies>
</module>